:root {
    --theme: #9a81b3;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home-title {
    font-family: 'trebuchet ms';
    text-align: center;
    color: white;
    position: absolute;
}

#header {
    position: relative;
}

#home-img {
    width: 100%;
    height: auto;
    resize: both;
}

#navbar {
    background-color: var(--theme);
}

#nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#calendar {
    width: 800px;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #8562a8;
    color: white;
}

#about {
    background-color: #d8cae6;
    color: #444444;
    padding: 20px;
    margin: 30px;
    text-align: center;
    box-shadow: 0 0 10px 5px #dddddd;
}

#contact {
    background-color: #d8cae6;
    text-align: center;
    padding: 20px;
    margin: 30px;
    box-shadow: 0 0 10px 5px #dddddd;
}

input {
    margin: 5px;
    width: 500px;
    height: 50px;
}

button {
    background-color: #8562a8;
    color: white;
    margin: 10px;
}